organization/organization/n8n-workflows/workflow-09-marketing-campaigns.json
{
  "name": "Broxiva Marketing Campaign Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "trigger-daily-segmentation",
      "name": "Daily Segmentation Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campaign-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-webhook-event",
      "name": "Webhook Campaign Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 500],
      "webhookId": "broxiva-campaign-trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10 * * 1"
            }
          ]
        }
      },
      "id": "trigger-weekly-vip",
      "name": "Weekly VIP Campaign",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 700]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "trigger-birthday-check",
      "name": "Daily Birthday Check",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 900]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "GET",
        "url": "https://api.broxiva.com/v1/customers/segments",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "type",
                "value": "new_customers"
              },
              {
                "name": "days",
                "value": "30"
              }
            ]
          }
        }
      },
      "id": "get-new-customers",
      "name": "Get New Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "broxiva-api",
          "name": "Broxiva API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "GET",
        "url": "https://api.broxiva.com/v1/customers/segments",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "type",
                "value": "vip_customers"
              },
              {
                "name": "tier",
                "value": "gold,platinum"
              }
            ]
          }
        }
      },
      "id": "get-vip-customers",
      "name": "Get VIP Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "broxiva-api",
          "name": "Broxiva API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "GET",
        "url": "https://api.broxiva.com/v1/customers/segments",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "type",
                "value": "at_risk"
              },
              {
                "name": "days_inactive",
                "value": "60"
              }
            ]
          }
        }
      },
      "id": "get-at-risk-customers",
      "name": "Get At-Risk Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "broxiva-api",
          "name": "Broxiva API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "GET",
        "url": "https://api.broxiva.com/v1/customers/birthdays",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "today",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "get-birthday-customers",
      "name": "Get Birthday Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 900],
      "credentials": {
        "httpHeaderAuth": {
          "id": "broxiva-api",
          "name": "Broxiva API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.segment.io/v1/track",
        "options": {
          "bodyParametersJson": "={\n  \"userId\": \"{{ $json.customerId }}\",\n  \"event\": \"Customer Segmented\",\n  \"properties\": {\n    \"segment\": \"{{ $json.segmentType }}\",\n    \"tier\": \"{{ $json.tier }}\",\n    \"ltv\": {{ $json.lifetimeValue }},\n    \"lastPurchaseDate\": \"{{ $json.lastPurchaseDate }}\",\n    \"categoryAffinity\": {{ $json.categoryAffinity }},\n    \"location\": \"{{ $json.location }}\"\n  },\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}"
        }
      },
      "id": "segment-track-customer",
      "name": "Track Segment in CDP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [750, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "segment-api",
          "name": "Segment API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "GET",
        "url": "=https://api.broxiva.com/v1/customers/{{ $json.customerId }}/purchase-history",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "limit",
                "value": "10"
              }
            ]
          }
        }
      },
      "id": "get-purchase-history",
      "name": "Get Purchase History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1000, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "broxiva-api",
          "name": "Broxiva API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "options": {
          "bodyParametersJson": "={\n  \"model\": \"gpt-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a marketing personalization expert for Broxiva e-commerce. Generate personalized product recommendations and email content based on customer data.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Customer Profile:\\nName: {{ $json.firstName }} {{ $json.lastName }}\\nTier: {{ $json.tier }}\\nPurchase History: {{ JSON.stringify($json.purchaseHistory) }}\\nCategory Affinity: {{ JSON.stringify($json.categoryAffinity) }}\\nSegment: {{ $json.segmentType }}\\n\\nGenerate:\\n1. 5 personalized product recommendations with reasons\\n2. Subject line for email campaign\\n3. Opening paragraph that resonates with their interests\\n4. Optimal send time based on past engagement\\n\\nReturn as JSON with keys: recommendations, subjectLine, opening, sendTime\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 1000\n}"
        }
      },
      "id": "openai-personalization",
      "name": "AI Personalization Engine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openai-api",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json.choices[0].message.content;\nconst aiData = JSON.parse(response);\n\nconst customer = $('Get Purchase History').first().json;\n\nreturn {\n  json: {\n    customerId: customer.customerId,\n    email: customer.email,\n    phone: customer.phone,\n    firstName: customer.firstName,\n    lastName: customer.lastName,\n    segment: customer.segmentType,\n    tier: customer.tier,\n    recommendations: aiData.recommendations,\n    subjectLine: aiData.subjectLine,\n    emailOpening: aiData.opening,\n    optimalSendTime: aiData.sendTime,\n    lifetimeValue: customer.lifetimeValue,\n    categoryAffinity: customer.categoryAffinity\n  }\n};"
      },
      "id": "prepare-personalization",
      "name": "Prepare Personalization Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.segment }}",
              "operation": "equals",
              "value2": "new_customers"
            }
          ]
        }
      },
      "id": "switch-campaign-type",
      "name": "Switch Campaign Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1750, 500]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://a.klaviyo.com/api/v2/campaigns",
        "options": {
          "bodyParametersJson": "={\n  \"list_id\": \"{{ $env.KLAVIYO_NEW_CUSTOMERS_LIST }}\",\n  \"template_id\": \"{{ $env.KLAVIYO_WELCOME_TEMPLATE }}\",\n  \"from_email\": \"welcome@broxiva.com\",\n  \"from_name\": \"Broxiva Team\",\n  \"subject\": \"{{ $json.subjectLine }}\",\n  \"name\": \"Welcome Series - {{ $json.firstName }} {{ $json.lastName }}\",\n  \"use_smart_sending\": true,\n  \"add_google_analytics\": true,\n  \"campaign_type\": \"automated\"\n}"
        }
      },
      "id": "klaviyo-welcome-series",
      "name": "Klaviyo Welcome Series",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2000, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "klaviyo-api",
          "name": "Klaviyo API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://a.klaviyo.com/api/v2/campaigns",
        "options": {
          "bodyParametersJson": "={\n  \"list_id\": \"{{ $env.KLAVIYO_AT_RISK_LIST }}\",\n  \"template_id\": \"{{ $env.KLAVIYO_WINBACK_TEMPLATE }}\",\n  \"from_email\": \"offers@broxiva.com\",\n  \"from_name\": \"Broxiva Exclusive Offers\",\n  \"subject\": \"We Miss You! Here's 15% Off Your Next Purchase\",\n  \"name\": \"Win-Back Campaign - {{ $json.firstName }}\",\n  \"use_smart_sending\": true,\n  \"add_google_analytics\": true\n}"
        }
      },
      "id": "klaviyo-winback",
      "name": "Klaviyo Win-Back Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2000, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "klaviyo-api",
          "name": "Klaviyo API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://a.klaviyo.com/api/v2/campaigns",
        "options": {
          "bodyParametersJson": "={\n  \"list_id\": \"{{ $env.KLAVIYO_VIP_LIST }}\",\n  \"template_id\": \"{{ $env.KLAVIYO_VIP_TEMPLATE }}\",\n  \"from_email\": \"vip@broxiva.com\",\n  \"from_name\": \"Broxiva VIP\",\n  \"subject\": \"{{ $json.subjectLine }}\",\n  \"name\": \"VIP Exclusive - {{ $json.firstName }}\",\n  \"use_smart_sending\": false,\n  \"add_google_analytics\": true\n}"
        }
      },
      "id": "klaviyo-vip-campaign",
      "name": "Klaviyo VIP Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2000, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "klaviyo-api",
          "name": "Klaviyo API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://a.klaviyo.com/api/v2/campaigns",
        "options": {
          "bodyParametersJson": "={\n  \"list_id\": \"{{ $env.KLAVIYO_BIRTHDAY_LIST }}\",\n  \"template_id\": \"{{ $env.KLAVIYO_BIRTHDAY_TEMPLATE }}\",\n  \"from_email\": \"celebrations@broxiva.com\",\n  \"from_name\": \"Broxiva Team\",\n  \"subject\": \"Happy Birthday {{ $json.firstName }}! Here's 15% Off Just For You\",\n  \"name\": \"Birthday Campaign - {{ $json.firstName }}\",\n  \"use_smart_sending\": false,\n  \"add_google_analytics\": true\n}"
        }
      },
      "id": "klaviyo-birthday",
      "name": "Klaviyo Birthday Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2000, 900],
      "credentials": {
        "httpHeaderAuth": {
          "id": "klaviyo-api",
          "name": "Klaviyo API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://a.klaviyo.com/api/v1/person",
        "options": {
          "bodyParametersJson": "={\n  \"token\": \"{{ $env.KLAVIYO_API_KEY }}\",\n  \"properties\": {\n    \"$email\": \"{{ $json.email }}\",\n    \"$first_name\": \"{{ $json.firstName }}\",\n    \"$last_name\": \"{{ $json.lastName }}\",\n    \"$phone_number\": \"{{ $json.phone }}\",\n    \"customer_tier\": \"{{ $json.tier }}\",\n    \"lifetime_value\": {{ $json.lifetimeValue }},\n    \"segment\": \"{{ $json.segment }}\",\n    \"category_affinity\": {{ JSON.stringify($json.categoryAffinity) }},\n    \"recommended_products\": {{ JSON.stringify($json.recommendations) }},\n    \"optimal_send_time\": \"{{ $json.optimalSendTime }}\"\n  }\n}"
        }
      },
      "id": "klaviyo-update-profile",
      "name": "Update Klaviyo Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2250, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "klaviyo-api",
          "name": "Klaviyo API"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "id": "wait-2-days",
      "name": "Wait 2 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2500, 400],
      "webhookId": "wait-email-engagement"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "GET",
        "url": "=https://a.klaviyo.com/api/v1/metrics/timeline?api_key={{ $env.KLAVIYO_API_KEY }}&email={{ $json.email }}&count=1",
        "options": {}
      },
      "id": "check-email-opened",
      "name": "Check Email Opened",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2750, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "klaviyo-api",
          "name": "Klaviyo API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.data && $json.data.length > 0 && $json.data[0].event === 'Opened Email' }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-email-not-opened",
      "name": "If Email Not Opened",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3000, 400]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "options": {
          "bodyParametersJson": "={\n  \"To\": \"{{ $json.phone }}\",\n  \"From\": \"{{ $env.TWILIO_PHONE_NUMBER }}\",\n  \"Body\": \"Hi {{ $json.firstName }}! We noticed you haven't opened our email. Don't miss out on exclusive offers! Visit: broxiva.com/offers\"\n}"
        }
      },
      "id": "send-sms-followup",
      "name": "Send SMS Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3250, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "twilio-api",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://graph.facebook.com/v18.0/act_{{ $env.FACEBOOK_AD_ACCOUNT_ID }}/customaudiences",
        "options": {
          "bodyParametersJson": "={\n  \"name\": \"Broxiva - Email Non-Openers - {{ $now.toFormat('yyyy-MM-dd') }}\",\n  \"subtype\": \"CUSTOM\",\n  \"description\": \"Customers who didn't open marketing email\",\n  \"customer_file_source\": \"USER_PROVIDED_ONLY\",\n  \"access_token\": \"{{ $env.FACEBOOK_ACCESS_TOKEN }}\"\n}"
        }
      },
      "id": "create-facebook-audience",
      "name": "Create Facebook Retarget Audience",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3250, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "facebook-api",
          "name": "Facebook API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://googleads.googleapis.com/v14/customers/{{ $env.GOOGLE_ADS_CUSTOMER_ID }}/userLists",
        "options": {
          "bodyParametersJson": "={\n  \"userList\": {\n    \"name\": \"Broxiva - Email Non-Openers - {{ $now.toFormat('yyyy-MM-dd') }}\",\n    \"description\": \"Customers who didn't engage with email campaign\",\n    \"membershipLifeSpan\": 30,\n    \"membershipStatus\": \"OPEN\",\n    \"crmBasedUserList\": {\n      \"uploadKeyType\": \"CONTACT_INFO\",\n      \"dataSourceType\": \"FIRST_PARTY\"\n    }\n  }\n}"
        }
      },
      "id": "create-google-audience",
      "name": "Create Google Ads Audience",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3250, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "google-ads-api",
          "name": "Google Ads API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.mixpanel.com/track",
        "options": {
          "bodyParametersJson": "={\n  \"event\": \"Campaign Sent\",\n  \"properties\": {\n    \"distinct_id\": \"{{ $json.customerId }}\",\n    \"campaign_type\": \"{{ $json.segment }}\",\n    \"campaign_name\": \"{{ $json.campaignName }}\",\n    \"channel\": \"email\",\n    \"subject_line\": \"{{ $json.subjectLine }}\",\n    \"send_time\": \"{{ $now.toISO() }}\",\n    \"customer_tier\": \"{{ $json.tier }}\",\n    \"lifetime_value\": {{ $json.lifetimeValue }},\n    \"personalized\": true,\n    \"ai_generated\": true,\n    \"token\": \"{{ $env.MIXPANEL_TOKEN }}\"\n  }\n}"
        }
      },
      "id": "track-campaign-sent",
      "name": "Track Campaign Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2500, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mixpanel-api",
          "name": "Mixpanel API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.mixpanel.com/track",
        "options": {
          "bodyParametersJson": "={\n  \"event\": \"Campaign Engagement Checked\",\n  \"properties\": {\n    \"distinct_id\": \"{{ $json.customerId }}\",\n    \"campaign_name\": \"{{ $json.campaignName }}\",\n    \"email_opened\": {{ $json.emailOpened }},\n    \"days_since_send\": 2,\n    \"sms_sent\": {{ $json.smsSent }},\n    \"retarget_created\": {{ $json.retargetCreated }},\n    \"token\": \"{{ $env.MIXPANEL_TOKEN }}\"\n  }\n}"
        }
      },
      "id": "track-engagement",
      "name": "Track Engagement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [3500, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mixpanel-api",
          "name": "Mixpanel API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "trigger-performance-sync",
      "name": "Performance Sync (Every 6h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 1100]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "GET",
        "url": "https://a.klaviyo.com/api/v1/metrics/timeline?api_key={{ $env.KLAVIYO_API_KEY }}&since={{ $now.minus({hours: 6}).toUnixInteger() }}",
        "options": {}
      },
      "id": "get-klaviyo-metrics",
      "name": "Get Klaviyo Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 1100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "klaviyo-api",
          "name": "Klaviyo API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst metrics = items[0].json.data || [];\n\nconst aggregated = {\n  sent: 0,\n  opened: 0,\n  clicked: 0,\n  converted: 0,\n  revenue: 0,\n  byCampaign: {}\n};\n\nmetrics.forEach(event => {\n  const campaignName = event.properties?.campaign_name || 'Unknown';\n  \n  if (!aggregated.byCampaign[campaignName]) {\n    aggregated.byCampaign[campaignName] = {\n      sent: 0,\n      opened: 0,\n      clicked: 0,\n      converted: 0,\n      revenue: 0,\n      openRate: 0,\n      clickRate: 0,\n      conversionRate: 0\n    };\n  }\n  \n  const campaign = aggregated.byCampaign[campaignName];\n  \n  switch(event.event) {\n    case 'Received Email':\n      aggregated.sent++;\n      campaign.sent++;\n      break;\n    case 'Opened Email':\n      aggregated.opened++;\n      campaign.opened++;\n      break;\n    case 'Clicked Email':\n      aggregated.clicked++;\n      campaign.clicked++;\n      break;\n    case 'Placed Order':\n      aggregated.converted++;\n      campaign.converted++;\n      const revenue = parseFloat(event.properties?.value || 0);\n      aggregated.revenue += revenue;\n      campaign.revenue += revenue;\n      break;\n  }\n});\n\n// Calculate rates\nfor (const [name, campaign] of Object.entries(aggregated.byCampaign)) {\n  if (campaign.sent > 0) {\n    campaign.openRate = (campaign.opened / campaign.sent * 100).toFixed(2);\n    campaign.clickRate = (campaign.clicked / campaign.sent * 100).toFixed(2);\n    campaign.conversionRate = (campaign.converted / campaign.sent * 100).toFixed(2);\n  }\n}\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    period: 'last_6_hours',\n    overall: aggregated,\n    campaigns: aggregated.byCampaign\n  }\n};"
      },
      "id": "aggregate-metrics",
      "name": "Aggregate Campaign Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 1100]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.mixpanel.com/track",
        "options": {
          "bodyParametersJson": "={\n  \"event\": \"Campaign Performance Report\",\n  \"properties\": {\n    \"timestamp\": \"{{ $json.timestamp }}\",\n    \"period\": \"{{ $json.period }}\",\n    \"total_sent\": {{ $json.overall.sent }},\n    \"total_opened\": {{ $json.overall.opened }},\n    \"total_clicked\": {{ $json.overall.clicked }},\n    \"total_converted\": {{ $json.overall.converted }},\n    \"total_revenue\": {{ $json.overall.revenue }},\n    \"open_rate\": {{ $json.overall.sent > 0 ? ($json.overall.opened / $json.overall.sent * 100).toFixed(2) : 0 }},\n    \"click_rate\": {{ $json.overall.sent > 0 ? ($json.overall.clicked / $json.overall.sent * 100).toFixed(2) : 0 }},\n    \"conversion_rate\": {{ $json.overall.sent > 0 ? ($json.overall.converted / $json.overall.sent * 100).toFixed(2) : 0 }},\n    \"campaigns\": {{ JSON.stringify($json.campaigns) }},\n    \"token\": \"{{ $env.MIXPANEL_TOKEN }}\"\n  }\n}"
        }
      },
      "id": "send-performance-mixpanel",
      "name": "Send Performance to Mixpanel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1000, 1100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mixpanel-api",
          "name": "Mixpanel API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.broxiva.com/v1/analytics/campaigns",
        "options": {
          "bodyParametersJson": "={{ JSON.stringify($json) }}"
        }
      },
      "id": "store-campaign-analytics",
      "name": "Store Campaign Analytics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 1100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "broxiva-api",
          "name": "Broxiva API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.campaignType }}",
              "operation": "equals",
              "value2": "product_launch"
            }
          ]
        }
      },
      "id": "if-product-launch",
      "name": "If Product Launch",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 500]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "GET",
        "url": "https://api.broxiva.com/v1/products/new-launches",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "days",
                "value": "7"
              }
            ]
          }
        }
      },
      "id": "get-new-products",
      "name": "Get New Product Launches",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1000, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "broxiva-api",
          "name": "Broxiva API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://a.klaviyo.com/api/v2/campaigns",
        "options": {
          "bodyParametersJson": "={\n  \"list_id\": \"{{ $env.KLAVIYO_ALL_CUSTOMERS_LIST }}\",\n  \"template_id\": \"{{ $env.KLAVIYO_PRODUCT_LAUNCH_TEMPLATE }}\",\n  \"from_email\": \"newproducts@broxiva.com\",\n  \"from_name\": \"Broxiva New Arrivals\",\n  \"subject\": \"Just Arrived: {{ $json.products[0].name }} and More!\",\n  \"name\": \"Product Launch - {{ $now.toFormat('yyyy-MM-dd') }}\",\n  \"use_smart_sending\": true,\n  \"add_google_analytics\": true\n}"
        }
      },
      "id": "send-product-launch",
      "name": "Send Product Launch Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "klaviyo-api",
          "name": "Klaviyo API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.campaignType }}",
              "operation": "equals",
              "value2": "seasonal"
            }
          ]
        }
      },
      "id": "if-seasonal",
      "name": "If Seasonal Campaign",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [750, 700]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst month = now.getMonth() + 1;\nconst day = now.getDate();\n\nlet seasonalCampaign = null;\n\n// Black Friday (Last Friday of November)\nif (month === 11 && day >= 22 && day <= 28) {\n  seasonalCampaign = {\n    type: 'black_friday',\n    name: 'Black Friday Mega Sale',\n    discount: 40,\n    template: process.env.KLAVIYO_BLACK_FRIDAY_TEMPLATE\n  };\n}\n// Cyber Monday\nelse if (month === 11 && day >= 25 && day <= 30) {\n  seasonalCampaign = {\n    type: 'cyber_monday',\n    name: 'Cyber Monday Exclusive',\n    discount: 35,\n    template: process.env.KLAVIYO_CYBER_MONDAY_TEMPLATE\n  };\n}\n// Holiday Season (December)\nelse if (month === 12 && day <= 25) {\n  seasonalCampaign = {\n    type: 'holiday',\n    name: 'Holiday Gift Guide',\n    discount: 25,\n    template: process.env.KLAVIYO_HOLIDAY_TEMPLATE\n  };\n}\n// New Year\nelse if (month === 1 && day <= 7) {\n  seasonalCampaign = {\n    type: 'new_year',\n    name: 'New Year, New You Sale',\n    discount: 30,\n    template: process.env.KLAVIYO_NEW_YEAR_TEMPLATE\n  };\n}\n// Valentine's Day\nelse if (month === 2 && day >= 10 && day <= 14) {\n  seasonalCampaign = {\n    type: 'valentines',\n    name: 'Valentine\\'s Day Special',\n    discount: 20,\n    template: process.env.KLAVIYO_VALENTINES_TEMPLATE\n  };\n}\n// Summer Sale (July)\nelse if (month === 7) {\n  seasonalCampaign = {\n    type: 'summer',\n    name: 'Summer Clearance Sale',\n    discount: 30,\n    template: process.env.KLAVIYO_SUMMER_TEMPLATE\n  };\n}\n\nif (seasonalCampaign) {\n  return {\n    json: {\n      ...seasonalCampaign,\n      date: now.toISOString(),\n      active: true\n    }\n  };\n}\n\nreturn {\n  json: {\n    active: false,\n    message: 'No seasonal campaign active'\n  }\n};"
      },
      "id": "detect-seasonal-campaign",
      "name": "Detect Seasonal Campaign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 700]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://a.klaviyo.com/api/v2/campaigns",
        "options": {
          "bodyParametersJson": "={\n  \"list_id\": \"{{ $env.KLAVIYO_ALL_CUSTOMERS_LIST }}\",\n  \"template_id\": \"{{ $json.template }}\",\n  \"from_email\": \"sales@broxiva.com\",\n  \"from_name\": \"Broxiva Sales Team\",\n  \"subject\": \"{{ $json.name }} - {{ $json.discount }}% OFF Everything!\",\n  \"name\": \"{{ $json.name }} - {{ $json.date }}\",\n  \"use_smart_sending\": false,\n  \"add_google_analytics\": true\n}"
        }
      },
      "id": "send-seasonal-campaign",
      "name": "Send Seasonal Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "klaviyo-api",
          "name": "Klaviyo API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.broxiva.com/v1/coupons/generate",
        "options": {
          "bodyParametersJson": "={\n  \"code\": \"BIRTHDAY{{ $json.customerId }}\",\n  \"type\": \"percentage\",\n  \"value\": 15,\n  \"customerId\": \"{{ $json.customerId }}\",\n  \"expiresAt\": \"{{ $now.plus({days: 30}).toISO() }}\",\n  \"usage\": \"single\",\n  \"description\": \"Birthday discount for {{ $json.firstName }}\"\n}"
        }
      },
      "id": "generate-birthday-coupon",
      "name": "Generate Birthday Coupon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [750, 900],
      "credentials": {
        "httpHeaderAuth": {
          "id": "broxiva-api",
          "name": "Broxiva API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const customer = $input.first().json;\n\nreturn {\n  json: {\n    ...customer,\n    couponCode: customer.code,\n    discountPercent: customer.value,\n    emailSubject: `Happy Birthday ${customer.firstName}! Here's 15% Off Just For You`,\n    emailPreview: `We're celebrating you today with an exclusive birthday gift!`\n  }\n};"
      },
      "id": "prepare-birthday-email",
      "name": "Prepare Birthday Email Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 900]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.broxiva.com/v1/coupons/generate",
        "options": {
          "bodyParametersJson": "={\n  \"code\": \"WINBACK{{ $json.customerId }}\",\n  \"type\": \"percentage\",\n  \"value\": {{ $json.attemptNumber === 1 ? 15 : ($json.attemptNumber === 2 ? 20 : 25) }},\n  \"customerId\": \"{{ $json.customerId }}\",\n  \"expiresAt\": \"{{ $now.plus({days: 7}).toISO() }}\",\n  \"usage\": \"single\",\n  \"description\": \"Win-back attempt {{ $json.attemptNumber }} for {{ $json.firstName }}\"\n}"
        }
      },
      "id": "generate-winback-coupon",
      "name": "Generate Win-Back Coupon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1750, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "broxiva-api",
          "name": "Broxiva API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Win-back series logic\nconst customer = $input.first().json;\nconst attemptNumber = customer.winbackAttempt || 1;\n\nconst winbackSeries = [\n  {\n    attempt: 1,\n    subject: \"We Miss You at Broxiva!\",\n    discount: 15,\n    waitDays: 7\n  },\n  {\n    attempt: 2,\n    subject: \"Still Thinking About You! 20% Off Inside\",\n    discount: 20,\n    waitDays: 7\n  },\n  {\n    attempt: 3,\n    subject: \"Last Chance: 25% Off Your Next Purchase\",\n    discount: 25,\n    waitDays: 0\n  }\n];\n\nconst currentAttempt = winbackSeries[attemptNumber - 1];\n\nreturn {\n  json: {\n    ...customer,\n    attemptNumber,\n    subject: currentAttempt.subject,\n    discount: currentAttempt.discount,\n    waitDays: currentAttempt.waitDays,\n    isLastAttempt: attemptNumber === 3\n  }\n};"
      },
      "id": "winback-series-logic",
      "name": "Win-Back Series Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 600]
    },
    {
      "parameters": {
        "amount": "={{ $json.waitDays }}",
        "unit": "days"
      },
      "id": "wait-winback-interval",
      "name": "Wait for Next Attempt",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2250, 600],
      "webhookId": "wait-winback-series"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isLastAttempt }}",
              "value2": false
            }
          ]
        }
      },
      "id": "if-not-last-attempt",
      "name": "If Not Last Attempt",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2500, 600]
    },
    {
      "parameters": {
        "jsCode": "// Increment attempt and loop back\nconst customer = $input.first().json;\n\nreturn {\n  json: {\n    ...customer,\n    winbackAttempt: (customer.attemptNumber || 1) + 1\n  }\n};"
      },
      "id": "increment-winback-attempt",
      "name": "Increment Win-Back Attempt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2750, 550]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.broxiva.com/v1/customers/{{ $json.customerId }}/tags",
        "options": {
          "bodyParametersJson": "={\n  \"tags\": [\"winback_completed\", \"high_churn_risk\"]\n}"
        }
      },
      "id": "tag-winback-completed",
      "name": "Tag Win-Back Completed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2750, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "broxiva-api",
          "name": "Broxiva API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Campaign workflow executed\",\n  \"customerId\": \"{{ $json.customerId }}\",\n  \"campaignType\": \"{{ $json.segment }}\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.overall.sent }}",
              "operation": "largerEqual",
              "value2": 100
            }
          ]
        }
      },
      "id": "if-enough-data-for-ab",
      "name": "If Enough Data for A/B",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1500, 1100]
    },
    {
      "parameters": {
        "jsCode": "// A/B test analysis\nconst data = $input.first().json;\nconst campaigns = data.campaigns;\n\nconst abTests = [];\n\n// Group campaigns by type for comparison\nconst campaignsByType = {};\nfor (const [name, metrics] of Object.entries(campaigns)) {\n  const type = name.split(' - ')[0];\n  if (!campaignsByType[type]) {\n    campaignsByType[type] = [];\n  }\n  campaignsByType[type].push({ name, ...metrics });\n}\n\n// Analyze variants\nfor (const [type, variants] of Object.entries(campaignsByType)) {\n  if (variants.length >= 2) {\n    // Sort by conversion rate\n    variants.sort((a, b) => parseFloat(b.conversionRate) - parseFloat(a.conversionRate));\n    \n    const winner = variants[0];\n    const loser = variants[1];\n    \n    const improvement = ((parseFloat(winner.conversionRate) - parseFloat(loser.conversionRate)) / parseFloat(loser.conversionRate) * 100).toFixed(2);\n    \n    abTests.push({\n      campaignType: type,\n      winner: winner.name,\n      winnerConversionRate: winner.conversionRate,\n      loser: loser.name,\n      loserConversionRate: loser.conversionRate,\n      improvement: `${improvement}%`,\n      sampleSize: winner.sent + loser.sent,\n      revenueImpact: winner.revenue - loser.revenue,\n      recommendation: improvement > 10 ? 'Use winner variant exclusively' : 'Continue testing'\n    });\n  }\n}\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    abTests,\n    totalTests: abTests.length\n  }\n};"
      },
      "id": "analyze-ab-tests",
      "name": "Analyze A/B Tests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 1050]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "https://api.mixpanel.com/track",
        "options": {
          "bodyParametersJson": "={\n  \"event\": \"AB Test Results\",\n  \"properties\": {\n    \"timestamp\": \"{{ $json.timestamp }}\",\n    \"total_tests\": {{ $json.totalTests }},\n    \"tests\": {{ JSON.stringify($json.abTests) }},\n    \"token\": \"{{ $env.MIXPANEL_TOKEN }}\"\n  }\n}"
        }
      },
      "id": "send-ab-results-mixpanel",
      "name": "Send A/B Results to Mixpanel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2000, 1050],
      "credentials": {
        "httpHeaderAuth": {
          "id": "mixpanel-api",
          "name": "Mixpanel API"
        }
      }
    }
  ],
  "connections": {
    "Daily Segmentation Trigger": {
      "main": [
        [
          {
            "node": "Get New Customers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get VIP Customers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get At-Risk Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Campaign Trigger": {
      "main": [
        [
          {
            "node": "If Product Launch",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Seasonal Campaign",
            "type": "main",
            "index": 0
          },
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly VIP Campaign": {
      "main": [
        [
          {
            "node": "Get VIP Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Birthday Check": {
      "main": [
        [
          {
            "node": "Get Birthday Customers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Customers": {
      "main": [
        [
          {
            "node": "Track Segment in CDP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Purchase History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VIP Customers": {
      "main": [
        [
          {
            "node": "Track Segment in CDP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Purchase History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get At-Risk Customers": {
      "main": [
        [
          {
            "node": "Track Segment in CDP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Purchase History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Birthday Customers": {
      "main": [
        [
          {
            "node": "Generate Birthday Coupon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Purchase History": {
      "main": [
        [
          {
            "node": "AI Personalization Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Personalization Engine": {
      "main": [
        [
          {
            "node": "Prepare Personalization Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Personalization Data": {
      "main": [
        [
          {
            "node": "Switch Campaign Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Campaign Type": {
      "main": [
        [
          {
            "node": "Klaviyo Welcome Series",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Win-Back Series Logic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Klaviyo VIP Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Klaviyo Welcome Series": {
      "main": [
        [
          {
            "node": "Update Klaviyo Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Track Campaign Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Klaviyo Win-Back Campaign": {
      "main": [
        [
          {
            "node": "Update Klaviyo Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Track Campaign Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Klaviyo VIP Campaign": {
      "main": [
        [
          {
            "node": "Update Klaviyo Profile",
            "type": "main",
            "index": 0
          },
          {
            "node": "Track Campaign Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Klaviyo Birthday Campaign": {
      "main": [
        [
          {
            "node": "Track Campaign Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Klaviyo Profile": {
      "main": [
        [
          {
            "node": "Wait 2 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Days": {
      "main": [
        [
          {
            "node": "Check Email Opened",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Opened": {
      "main": [
        [
          {
            "node": "If Email Not Opened",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Email Not Opened": {
      "main": [
        [
          {
            "node": "Send SMS Follow-up",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Facebook Retarget Audience",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Google Ads Audience",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS Follow-up": {
      "main": [
        [
          {
            "node": "Track Engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Facebook Retarget Audience": {
      "main": [
        [
          {
            "node": "Track Engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Ads Audience": {
      "main": [
        [
          {
            "node": "Track Engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Performance Sync (Every 6h)": {
      "main": [
        [
          {
            "node": "Get Klaviyo Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Klaviyo Metrics": {
      "main": [
        [
          {
            "node": "Aggregate Campaign Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Campaign Metrics": {
      "main": [
        [
          {
            "node": "Send Performance to Mixpanel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Store Campaign Analytics",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Enough Data for A/B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Product Launch": {
      "main": [
        [
          {
            "node": "Get New Product Launches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Product Launches": {
      "main": [
        [
          {
            "node": "Send Product Launch Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Seasonal Campaign": {
      "main": [
        [
          {
            "node": "Detect Seasonal Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Seasonal Campaign": {
      "main": [
        [
          {
            "node": "Send Seasonal Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Birthday Coupon": {
      "main": [
        [
          {
            "node": "Prepare Birthday Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Birthday Email Data": {
      "main": [
        [
          {
            "node": "Klaviyo Birthday Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Win-Back Series Logic": {
      "main": [
        [
          {
            "node": "Generate Win-Back Coupon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Win-Back Coupon": {
      "main": [
        [
          {
            "node": "Klaviyo Win-Back Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Next Attempt": {
      "main": [
        [
          {
            "node": "If Not Last Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Last Attempt": {
      "main": [
        [
          {
            "node": "Increment Win-Back Attempt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tag Win-Back Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Win-Back Attempt": {
      "main": [
        [
          {
            "node": "Win-Back Series Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Enough Data for A/B": {
      "main": [
        [
          {
            "node": "Analyze A/B Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze A/B Tests": {
      "main": [
        [
          {
            "node": "Send A/B Results to Mixpanel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 4,
  "updatedAt": "2025-12-03T00:00:00.000Z",
  "versionId": "1.0.0"
}
